.menu {
  margin-right: 3rem;
  display: flex;
  flex-direction: row-reverse;
  /* change direction to row-reverse */
  position: absolute;
  top: 0;
  right: 0;
  /* position at the top right corner */
}

.navbar {
  margin-top: 2rem;
  /* margin-left: 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.toggle {
  /* background-color: #30bdf2; */
  height: 60px;
  width: 60px;
  /* margin-top: 1rem; */
  color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;

  transform: scaleX(0);
  transform-origin: right;
  /* change origin to right */
  background-color: rgb(40, 38, 44);
  font-family: "Alegreya";
  transition: 0.5s;
  font-size: 0.9875rem;
  text-transform: capitalize;
  margin-top: 0.32rem;
  height: 51px;
}

.hidden {
  display: none;
}

.btn-menu {
  font-family: "Alegreya";
  margin-right: 0.5rem;
  /* content: "MENU"; */
  font-size: 0.9875rem;
  height: 120;
  width: 60;
  /* font-size:15px ; */
  border: none;
  border-radius: 15px;
  align-items: center;
  background-color: rgb(40, 38, 44);
  color: #fff;
  padding: 20px 32px;
}

.items > a {
  display: flex;
  margin-right: 4rem;
  margin-left: 3rem;
  height: 60px;
  width: 70px;
  color: #fff;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.material-icons {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(40, 38, 44);
  display: flex;
  border-radius: 15px;
  height: 3.75rem;
  font-size: 10px;
  width: 3.75rem;
  margin-left: auto;
  color: #fff;
  margin-right: 4rem;
}

.toggle > .material-icons {
  font-size: 60px;
}

a > .material-icons {
  font-size: 30px;
}

.navbars {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  /* align items to the bottom */
  height: 100px;
  text-transform: uppercase;
  padding: 0 20px;
}

.navbars a {
  display: block;
  padding: 2px;
  transform: rotate(-90deg);
  transform-origin: top center;
  position: relative;
  left: 1px;
  white-space: nowrap;
  text-decoration: none;
  margin-bottom: -0rem;
  text-decoration: none;
  font-family: "Alegreya";
  color: rgb(0, 0, 0);
}

.logo {
  margin-left: 3rem;
  max-width: 180px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.scrolled .logo {
  height: 50px;
  margin-top: 2rem;
  transition: 1s;
  max-width: 140px;
  transform: rotate(-90deg);
  margin-left: -25px;
}

.navbars a:hover {
  transition-duration: 0.5s;
  transform: rotate(5deg);
  border-bottom: none;
}

a:hover > .material-icons {
  font-size: 40px;
  color: #30bdf2;
}
.menu-btn-5 {
  height: 32px;
  width: 40px;
  cursor: pointer;
}

.menu-btn-5 span:nth-child(1),
.menu-btn-5 span:nth-child(1)::before,
.menu-btn-5 span:nth-child(1)::after {
  background: #e91e63;
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  margin-top: 13px;

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-btn-5 span:nth-child(1)::before {
  margin-top: -12px;

  -webkit-transition: 0.3s ease-in-out 0.3s;
  -moz-transition: 0.3s ease-in-out 0.3s;
  -o-transition: 0.3s ease-in-out 0.3s;
  transition: 0.3s ease-in-out 0.3s;
}

.menu-btn-5 span:nth-child(1)::after {
  margin-top: 12px;

  -webkit-transition: 0.3s ease-in-out 0.3s;
  -moz-transition: 0.3s ease-in-out 0.3s;
  -o-transition: 0.3s ease-in-out 0.3s;
  transition: 0.3s ease-in-out 0.3s;
}

.menu-btn-5 span:nth-child(2) {
  background: #e91e63;
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  margin-top: 13px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu-btn-5.active span:nth-child(1)::before,
.menu-btn-5.active span:nth-child(1)::after {
  margin-top: 0;
}

.menu-btn-5.active span:nth-child(1) {
  -webkit-transition: 0.5s ease-in-out 0.6s;
  -moz-transition: 0.5s ease-in-out 0.6s;
  -o-transition: 0.5s ease-in-out 0.6s;
  transition: 0.5s ease-in-out 0.5s;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-btn-5.active span:nth-child(2) {
  width: 40px;

  -webkit-transition: 0.3s ease-in-out 0.8s;
  -moz-transition: 0.3s ease-in-out 0.8s;
  -o-transition: 0.3s ease-in-out 0.8s;
  transition: 0.3s ease-in-out 0.8s;
}

@media screen and (max-width: 900px) {
  .btn-menu {
    display: none;
  }
  .scrolled .logo {
    height: 50px;
    transition: 1s;
    max-width: 140px;
    margin-top: 5rem;
    transform: rotate(-90deg);
    margin-left: -25px;
  }

  .items {
    display: none;
  }

  .menu {
    position: absolute;
    margin-right: 0rem;
  }
}
